version: '3.8'

services:
  db:
    image: postgres:16
    container_name: bfd_postgres
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - ./beck-end/scripts/schema.sql:/docker-entrypoint-initdb.d/init.sql
      - pgdata:/var/lib/postgresql/data

  api:
    build: ./beck-end      
    container_name: bfd_api
    ports:
      - "${API_PORT}:3000"
    environment:
    
      DATABASE_URL: ${DATABASE_URL}
    depends_on:
      - db                 

  nodered:
    image: nodered/node-red
    container_name: bfd_nodered
    ports:
      - "${NODE_RED_PORT}:1880"
    volumes:
      - ./iot-simulator:/data
    restart: always

volumes:
  pgdata: