version: '3.8'

services:
  api:
    build: ./backend      
    container_name: bfd_api
    ports:
      - "${API_PORT}:3001"
    environment:
    
      DATABASE_URL: ${DATABASE_URL}
                     

  nodered:
    image: nodered/node-red
    container_name: bfd_nodered
    ports:
      - "${NODE_RED_PORT}:1880"
    volumes:
      - ./iot-simulator:/data
    restart: always

volumes:
  pgdata: